<div>
    <div class="h3">{{ title }}</div>
    <!-- GRID OF SUPERHEROES -->
    <ul class="app-grid app-center">
        <li *ngFor="let villain of villains">
            <app-character-card [character]="villain"></app-character-card>
            <!-- <div class="{{ characterColorMap[villain.color] }} char-card"> -->
            <!-- <div class="character-name">
                    {{ villain.name }}
                </div>
                <div class="character-realname">
                    {{ villain.realName }}
                </div> -->
            <!-- DETAILS & FORM LINKS -->
            <!-- <ul class="app-center">
                    <a class="character-button" [routerLink]="['/villains', villain.id, 'detail']"> Details </a>
                    <a class="character-button" [routerLink]="['/villains', villain.id, 'form']"> Edit </a>
                </ul>
            </div> -->
        </li>
    </ul>
</div>
