<body>
    <main>
        <h2 class="h2">
            Welcome to a list of your favorite Marvel characters!
        </h2>
        <p>
            (We won't stop you from adding DC characters, but it'll be weird and
            awkward...)
        </p>
        <br />

        <section>
            <img
                class="center"
                src="../../assets/The_Marvel_Universe.webp"
                alt="Characters of the Marvel Universe"
            />
        </section>
    </main>
</body>
