<div>
    <h5 style="color: white; font-size: 1.2em;">
        Welcome to a list of your favorite Marvel characters!
    </h5>
    <h5 style="color: white;  font-size: 1.2em; font-family: 
        'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
        (We won't stop you from adding DC characters, but it'll be weird and 
        awkward...)
    </h5>
    <nav>
        <button class="app-blue-btn" routerLink="/superheroes">
            See my list!
        </button>
        <button class="app-blue-btn" routerLink="/create-new-superhero">
            Create a new Marvel character!
        </button>
    </nav>
    
</div>