<!-- CHARACTER-COLORED BORDER -->
<div class="detail-view border">
    <h2 class="border {{ characterColor }}">
        {{ character?.name }}
    </h2>
    <!-- CHARACTER'S INFORMATION -->
    <div class="detail-subview border">
        <p>Real Name:</p>
        <p class="p-sub">{{ character?.realName }}</p>
        <p>Powers:</p>
        <p class="p-sub">{{ character?.powers }}</p>
        <p>Description:</p>
        <p class="p-sub">{{ character?.description }}</p>
        <p>Link:</p>
        <a href="character?.link" class="p-sub">{{ character?.link }}</a>
        <ul class="{{ this.buttonClass }}">
            <a class="character-button" [routerLink]="['/characters']">Back to Characters</a>
        </ul>
    </div>
</div>
