<div class="lg:grid lg:grid-cols-4">
    <img
        src="./../../../../../assets/images/superheroes-banner.png"
        class="hidden lg:block col-start-1 col-span-2 h-screen py-8 w-full object-cover object-center"
        alt="Superheroes"
    />
    <!-- CHARACTER-COLORED BORDER -->
    <div class="app-box-slate app-box mx-auto lg:col-start-3 lg:col-span-2 lg:max-w-2xl">
        <h2 class="text-white app-border-slate {{ characterColor }} section-title">
            {{ character?.name }}
        </h2>
        <!-- CHARACTER'S INFORMATION -->
        <div class="app-box">
            <p class="page-subtitle text-left">Real Name:</p>
            <p class="detail-information">{{ character?.realName }}</p>
            <p class="page-subtitle text-left">Powers:</p>
            <p class="detail-information">{{ character?.powers }}</p>
            <p class="page-subtitle text-left">Description:</p>
            <p class="detail-information">{{ character?.description }}</p>
            <p class="page-subtitle text-left">Link:</p>
            <a href="character?.link" class="font-link">{{ character?.link }}</a>
            <ul class="flex justify-center pt-8">
                <a class="app-clickable {{ buttonClass }} text-base font-semibold" [routerLink]="['/characters']"
                    >Back to Characters</a
                >
            </ul>
        </div>
    </div>
</div>
