<h2>{{ pageTitle }}</h2>
<div class="detail-view border">
    <div *ngIf="!isNewCharacter">
        <h3 class="border {{ characterColorMap[character!.color] }}">
            {{ character?.name }}
        </h3>
    </div>
    <div *ngIf="isNewCharacter">
        <h3 class="border {{ characterColorMap.white }}">New Character</h3>
    </div>

    <div class="detail-sub-view border">
        <form
            novalidate
            (ngSubmit)="saveCharacter()"
            [formGroup]="characterForm"
        >
            <div>
                <label class="form-label" for="name">Name:</label>
                <div>
                    <input
                        class="container border-sq"
                        id="name"
                        type="text"
                        placeholder="Name (required)"
                        formControlName="name"
                        [ngModel]="character?.name"
                        [ngClass]="{
                            'is-invalid': 'displayMessage.name'
                        }"
                    />
                    <span class="invalid-feedback">
                        {{ "displayMessage.name" }}
                    </span>
                </div>
            </div>

            <div class="space">
                <label class="form-label" for="name">Real Name:</label>
                <div>
                    <input
                        class="container border-sq"
                        id="realName"
                        type="text"
                        placeholder="Real Name (required)"
                        formControlName="realName"
                        [ngModel]="character?.realName"
                        [ngClass]="{
                            'is-invalid': 'displayMessage.realName'
                        }"
                    />
                    <span class="invalid-feedback">
                        {{ "displayMessage.realName" }}
                    </span>
                </div>
            </div>

            <div class="space">
                <label class="form-label" for="name">Power:</label>
                <div>
                    <input
                        class="container border-sq"
                        id="power"
                        type="text"
                        placeholder="Power (required)"
                        formControlName="powers"
                        [ngModel]="character?.powers"
                        [ngClass]="{
                            'is-invalid': 'displayMessage.power'
                        }"
                    />
                    <span class="invalid-feedback">
                        {{ "displayMessage.power" }}
                    </span>
                </div>
            </div>

            <div class="space">
                <label class="form-label" for="name">Description:</label>
                <div>
                    <input
                        class="container border-sq"
                        id="description"
                        type="text"
                        placeholder="Description (required)"
                        formControlName="description"
                        [ngModel]="character?.description"
                        [ngClass]="{
                            'is-invalid': 'displayMessage.description'
                        }"
                    />
                    <span class="invalid-feedback">
                        {{ "displayMessage.description" }}
                    </span>
                </div>
            </div>

            <div class="space">
                <label class="form-label" for="name">Link:</label>
                <div>
                    <input
                        class="container border-sq"
                        id="link"
                        type="text"
                        placeholder="link"
                        formControlName="link"
                        [ngModel]="character?.link"
                        [ngClass]="{
                            'is-invalid': 'displayMessage.link'
                        }"
                    />
                    <span class="invalid-feedback">
                        {{ "displayMessage.link" }}
                    </span>
                </div>
            </div>

            <div class="space">
                <label class="form-label" for="name">Color:</label>
                <div>
                    <input
                        class="container border-sq"
                        id="color"
                        type="text"
                        placeholder="Color (required)"
                        formControlName="color"
                        [ngModel]="character?.color"
                        [ngClass]="{
                            'is-invalid': 'displayMessage.color'
                        }"
                    />
                    <span class="invalid-feedback">
                        {{ "displayMessage.color" }}
                    </span>
                </div>
            </div>
            <div *ngIf="isNewCharacter">
                <div class="space">
                    <label class="form-label" for="name">Link:</label>
                    <div>
                        <input
                            class="container border-sq"
                            id="link"
                            type="text"
                            placeholder="link"
                            formControlName="link"
                            [ngModel]="character?.link"
                            [ngClass]="{
                                'is-invalid': 'displayMessage.link'
                            }"
                        />
                        <span class="invalid-feedback">
                            {{ "displayMessage.link" }}
                        </span>
                    </div>
                </div>
                <label class="form-label" for="isHeroOrVillain"
                    >Superhero or Villain:</label
                >
                <option value="Superhero">Superhero</option>
                <option value="Villain">Villain</option>

                <!-- <div>
                    <input
                        class="container border-sq row"
                        id="heroOrVillain"
                        type="text"
                        placeholder="Color (required)"
                        formControlName="color"
                        [ngModel]="character?.color"
                        [ngClass]="{
                            'is-invalid': 'displayMessage.color'
                        }"
                    />
                    <span class="invalid-feedback">
                        {{ "displayMessage.color" }}
                    </span>
                </div> -->
            </div>
            <div>
                <div>
                    <button
                        class="border btn-edit-char {{
                            characterColorMap[character!.color]
                        }}"
                        type="submit"
                        [title]="
                            characterForm.valid
                                ? 'Save your entered data'
                                : 'Disabled until the form data is valid'
                        "
                        [disabled]="!characterForm.valid"
                    >
                        Save
                    </button>
                    <button
                        class="border btn-edit-char {{
                            characterColorMap[character!.color]
                        }}"
                        type="button"
                        title="Cancel your edits"
                        [routerLink]="['/characters']"
                    >
                        Cancel
                    </button>
                    <button
                        class="border btn-edit-char {{
                            characterColorMap[character!.color]
                        }}"
                        type="button"
                        title="Delete this character"
                        (click)="deleteCharacter()"
                        [routerLink]="['/characters']"
                    >
                        Delete
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- <div> -->
<!-- Just a blank modify page! -->
<!-- <h1 class="hero-info">
        {{ hero?.name }}
    </h1> -->
<!-- <h2 class="hero-sub-info-black">
    {{'Real Name:  ' + hero.realName }}
    </h2>
</div>   -->

<!-- <div (click)="showEdit()">
    <h1 class="hero-info">
        {{ hero.name }}
    </h1>
    <h2 class="hero-sub-info-black">
    {{'Real Name:  ' + hero.realName }}
    </h2>
</div>

<div *ngIf=!isHidden>
    <h2 class="hero-sub-info-white">Name:</h2>
    <input class="create-input-boxes" placeholder="Name" [(ngModel)]="hero.name"><br>
    <h2 class="hero-sub-info-white">Real Name:</h2>
    <input class="create-input-boxes" placeholder="Real Name" [(ngModel)]="hero.realName"><br>
    <h2 class="hero-sub-info-white">Powers:</h2>
    <input class="create-input-boxes" placeholder="Powers" [(ngModel)]="hero.powers"><br>
    <h2 class="hero-sub-info-white">Description:</h2>
    <input class="create-input-boxes" placeholder="Description" [(ngModel)]="hero.description"><br>
    <h2 class="hero-sub-info-white">Link:</h2>
    <input class="create-input-boxes" placeholder="Link" [(ngModel)]="hero.link"><br>
    <h2 class="hero-sub-info-white">Color:</h2>
    <input class="create-input-boxes" placeholder="Color" [(ngModel)]="hero.color"><br>
    <button class="white-btn" (click)="saveUpdates()">Save</button>
    <button class="white-btn" (click)="deleteHero()">Delete</button>
</div> -->
<!-- </div> -->
