<div>
    <div>
        {{ pageTitle }}
    </div>

    <div>
        <form (ngSubmit)="saveCharacter()"></form>
    </div>
</div>

<!-- <div> -->
<!-- Just a blank modify page! -->
<!-- <h1 class="hero-info">
        {{ hero?.name }}
    </h1> -->
<!-- <h2 class="hero-sub-info-black">
    {{'Real Name:  ' + hero.realName }}
    </h2>
</div>   -->

<!-- <div (click)="showEdit()">
    <h1 class="hero-info">
        {{ hero.name }}
    </h1>
    <h2 class="hero-sub-info-black">
    {{'Real Name:  ' + hero.realName }}
    </h2>
</div>

<div *ngIf=!isHidden>
    <h2 class="hero-sub-info-white">Name:</h2>
    <input class="create-input-boxes" placeholder="Name" [(ngModel)]="hero.name"><br>
    <h2 class="hero-sub-info-white">Real Name:</h2>
    <input class="create-input-boxes" placeholder="Real Name" [(ngModel)]="hero.realName"><br>
    <h2 class="hero-sub-info-white">Powers:</h2>
    <input class="create-input-boxes" placeholder="Powers" [(ngModel)]="hero.powers"><br>
    <h2 class="hero-sub-info-white">Description:</h2>
    <input class="create-input-boxes" placeholder="Description" [(ngModel)]="hero.description"><br>
    <h2 class="hero-sub-info-white">Link:</h2>
    <input class="create-input-boxes" placeholder="Link" [(ngModel)]="hero.link"><br>
    <h2 class="hero-sub-info-white">Color:</h2>
    <input class="create-input-boxes" placeholder="Color" [(ngModel)]="hero.color"><br>
    <button class="white-btn" (click)="saveUpdates()">Save</button>
    <button class="white-btn" (click)="deleteHero()">Delete</button>
</div> -->
<!-- </div> -->
