<!-- TITLE -->
<h2>{{ pageTitle }}</h2>
<div class="detail-view border">
    <!-- CHARACTER-COLORED BORDER -->
    <div *ngIf="!isNewCharacter">
        <h3 class="border {{ characterColorMap[character!.color] }}">
            {{ character?.name }}
        </h3>
    </div>
    <!-- NEW CHARACTER BORDER -->
    <div *ngIf="isNewCharacter">
        <h3 class="border border-wht">New Character</h3>
    </div>
    <!-- CHARACTER FORM -->
    <div class="detail-sub-view border">
        <form
            novalidate
            (ngSubmit)="saveCharacter()"
            [formGroup]="characterForm"
        >
            Value: {{ characterForm.value | json }}
            <mat-form-field>
                <label class="form-label" for="charNameId">Name:</label>
                <input
                    matInput
                    class="container border-sq"
                    placeholder="Name (required)"
                    formControlName="name"
                    id="charNameId"
                    type="text"
                />
                <!-- <span class="invalid-feedback">
                    {{ "displayMessage.name" }}
                </span> -->
            </mat-form-field>

            <div class="space">
                <label class="form-label" for="realName">Real Name:</label>
                <div>
                    <input
                        class="container border-sq"
                        id="realName"
                        type="text"
                        placeholder="Real Name (required)"
                        formControlName="realName"
                        [ngModel]="character?.realName"
                        [ngClass]="{
                            'is-invalid': 'displayMessage.realName'
                        }"
                    />
                    <span class="invalid-feedback">
                        {{ "displayMessage.realName" }}
                    </span>
                </div>
            </div>
            <label class="form-label">Power:</label>
            <div formArrayName="powers">
                <div *ngFor="let power of powerForms.controls; let i = index">
                    <label class="form-label" [attr.for]="i"
                        >#{{ i + 1 }}</label
                    >
                    <div>
                        <input
                            class="container border-sq"
                            [id]="i"
                            type="text"
                            placeholder="Power (required)"
                            [formControlName]="i"
                        />
                    </div>
                    <button
                        class="basic-btn btn-remove-power"
                        color="warn"
                        (click)="removePower(i)"
                    >
                        Remove Power
                    </button>
                </div>
            </div>
            <button
                class="basic-btn btn-add-power"
                color="primary"
                (click)="addPower()"
            >
                Add Power
            </button>

            <div class="space">
                <label class="form-label" for="name">Description:</label>
                <div>
                    <input
                        class="container border-sq"
                        id="description"
                        type="text"
                        placeholder="Description (required)"
                        formControlName="description"
                        [ngModel]="character?.description"
                        [ngClass]="{
                            'is-invalid': 'displayMessage.description'
                        }"
                    />
                    <span class="invalid-feedback">
                        {{ "displayMessage.description" }}
                    </span>
                </div>
            </div>

            <div class="space">
                <label class="form-label" for="name">Link:</label>
                <div>
                    <input
                        class="container border-sq"
                        id="link"
                        type="text"
                        placeholder="link"
                        formControlName="link"
                        [ngModel]="character?.link"
                        [ngClass]="{
                            'is-invalid': 'displayMessage.link'
                        }"
                    />
                    <span class="invalid-feedback">
                        {{ "displayMessage.link" }}
                    </span>
                </div>
            </div>

            <div class="space">
                <label class="form-label" for="name">Color:</label>
                <div>
                    <input
                        class="container border-sq"
                        id="color"
                        type="text"
                        placeholder="Color (required)"
                        formControlName="color"
                        [ngModel]="character?.color"
                        [ngClass]="{
                            'is-invalid': 'displayMessage.color'
                        }"
                    />
                    <span class="invalid-feedback">
                        {{ "displayMessage.color" }}
                    </span>
                </div>
            </div>
            <div *ngIf="isNewCharacter">
                <div class="space">
                    <label class="form-label" for="name">Link:</label>
                    <div>
                        <input
                            class="container border-sq"
                            id="link"
                            type="text"
                            placeholder="link"
                            formControlName="link"
                            [ngModel]="character?.link"
                            [ngClass]="{
                                'is-invalid': 'displayMessage.link'
                            }"
                        />
                        <span class="invalid-feedback">
                            {{ "displayMessage.link" }}
                        </span>
                    </div>
                </div>
                <label class="form-label" for="isHeroOrVillain"
                    >Superhero or Villain:</label
                >
                <option value="Superhero">Superhero</option>
                <option value="Villain">Villain</option>
            </div>
            <div>
                <!-- SUBMIT/CANCEL/DELETE BUTTONS -->
                <div>
                    <button
                        class="{{ this.buttonClass }}"
                        type="submit"
                        (click)="saveCharacter()"
                        [title]="
                            characterForm.valid
                                ? 'Save your entered data'
                                : 'Disabled until the form data is valid'
                        "
                        [disabled]="!characterForm.valid"
                    >
                        Save
                    </button>
                    <button
                        class="{{ this.buttonClass }}"
                        type="button"
                        title="Cancel your edits"
                        [routerLink]="['/characters']"
                    >
                        Cancel
                    </button>
                    <button
                        *ngIf="!isNewCharacter"
                        class="{{ this.buttonClass }}"
                        type="button"
                        title="Delete this character"
                        (click)="deleteCharacter()"
                        [routerLink]="['/characters']"
                    >
                        Delete
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- <div> -->
<!-- Just a blank modify page! -->
<!-- <h1 class="hero-info">
        {{ hero?.name }}
    </h1> -->
<!-- <h2 class="hero-sub-info-black">
    {{'Real Name:  ' + hero.realName }}
    </h2>
</div>   -->

<!-- <div (click)="showEdit()">
    <h1 class="hero-info">
        {{ hero.name }}
    </h1>
    <h2 class="hero-sub-info-black">
    {{'Real Name:  ' + hero.realName }}
    </h2>
</div>

<div *ngIf=!isHidden>
    <h2 class="hero-sub-info-white">Name:</h2>
    <input class="create-input-boxes" placeholder="Name" [(ngModel)]="hero.name"><br>
    <h2 class="hero-sub-info-white">Real Name:</h2>
    <input class="create-input-boxes" placeholder="Real Name" [(ngModel)]="hero.realName"><br>
    <h2 class="hero-sub-info-white">Powers:</h2>
    <input class="create-input-boxes" placeholder="Powers" [(ngModel)]="hero.powers"><br>
    <h2 class="hero-sub-info-white">Description:</h2>
    <input class="create-input-boxes" placeholder="Description" [(ngModel)]="hero.description"><br>
    <h2 class="hero-sub-info-white">Link:</h2>
    <input class="create-input-boxes" placeholder="Link" [(ngModel)]="hero.link"><br>
    <h2 class="hero-sub-info-white">Color:</h2>
    <input class="create-input-boxes" placeholder="Color" [(ngModel)]="hero.color"><br>
    <button class="white-btn" (click)="saveUpdates()">Save</button>
    <button class="white-btn" (click)="deleteHero()">Delete</button>
</div> -->
<!-- </div> -->
