<div>
    <h2 class="description">List of Favorite Marvel Superheroes!<br>
        Edit, remove or create new Marvel superheroes here!
    </h2>
    <h2 style="padding-top: 1em; padding-bottom: .5em; 
        font-size: 2.2em; color: white;margin-left: .5em;">
        <!-- <h2 class=""> -->
        {{ title }}
    </h2>
    <ul style="margin-left: .5em">
        <li *ngFor="let superhero of superheroes">
            <div class="{{heroColorMap[superhero.color]}}">
                <app-update-superhero [hero]="superhero"></app-update-superhero>
            </div>
        </li>
    </ul>
    <nav>
        <button class="list-btn" routerLink="/create-new-superhero">
            Create a new Marvel character!
        </button>
        <button class="list-btn" routerLink="/homepage">
            Main Menu
        </button>
    </nav>
</div>