<!-- CHARACTER CARD INFORMATION -->
<div class="{{ characterColorMap[character.color] }}">
    <div class="character-name">
        {{ character.name }}
    </div>
    <div class="character-realname">
        {{ character.realName }}
    </div>
    <!-- DETAILS & FORM LINKS -->
    <ul class="app-center">
        <a class="character-button" [routerLink]="['/characters', routeFrom, character.id]"> Details </a>
        <a class="character-button" [routerLink]="['/characters', routeFrom, character.id, 'edit']"> Edit </a>
    </ul>
</div>
