<div style="background-image: url(./../../../../../../../assets/images/background-texture-white.jpg)" class="bg-cover h-fit w-screen">
    <!-- PAGE TITLE -->
    <div class="flex flex-col w-full lg:grid lg:grid-cols-3">
        <div class="lg:col-start-2">
            <h2 class="page-title">Prepare for Battle</h2>
            <h3 class="page-subtitle">Choose a superhero and villain to fight!</h3>
        </div>
        <a
            class="mt-8 mx-auto py-6 px-10 text-white text-2xl tracking-widest bg-black hover:bg-white outline outline-offset-2 outline-black hover:outline-4 hover:outline-white hover:text-black hover:underline hover:decoration-2 hover:decoration-black cursor-pointer hover:border-4 hover:border-black shadow-xl rounded-2xl"
            [routerLink]="'/battle/records'"
            >Battle Records</a
        >
    </div>
    <!-- CHOSEN FOR BATTLE -->
    <section class="grid grid-cols-5 app-box outline outline-offset-2 outline-slate-700 bg-slate-500">
        <h4 class="hidden lg:flex justify-center items-center bg-slate-700 section-title text-white">Chosen for Battle:</h4>
        <div class="flex bg-blue-500 col-span-2 items-center justify-center">
            <img class="max-h-24 my-auto" src="./../../../../../assets/images/captain-america.png" alt="Captain America" />
            <h4 class="section-title app-box h-fit mt-0 mb-0 p-2">
                <ng-container *ngIf="!superheroIsSelected">(Choose your superhero)</ng-container>
                <ng-container *ngIf="superheroIsSelected">{{ chosenSuperhero.name }}</ng-container>
            </h4>
        </div>
        <div class="flex bg-red-500 col-span-2 items-center justify-center">
            <img class="max-h-24 my-auto" src="./../../../../../assets/images/thanos.png" alt="Thanos" />
            <h4 class="section-title app-box h-fit mt-0 mb-0 p-2">
                <ng-container *ngIf="!villainIsSelected">(Choose your villain)</ng-container>
                <ng-container *ngIf="villainIsSelected">{{ chosenVillain.name }}</ng-container>
            </h4>
        </div>
    </section>
    <!-- LOG FIGHT/BUTTON -->
    <div class="flex w-full justify-center" *ngIf="superheroIsSelected && villainIsSelected">
        <a
            (click)="logFight()"
            class="button-app py-6 px-8 text-white font-bold text-2xl tracking-widest bg-amber-400 cursor-pointer shadow-xl rounded-2xl outline outline-offset-2 outline-amber-400 hover:bg-amber-500 hover:outline-4 hover:outline-black hover:text-3xl hover:text-black hover:underline hover:decoration-2 hover:decoration-black"
            [routerLink]="'/battle/versus/' + chosenSuperhero.id + '/vs/' + chosenVillain.id"
            >Fight!</a
        >
    </div>
    <section class="grid grid-cols-2 w-full justify-center mx-3">
        <!-- CHOOSE A SUPERHERO -->
        <div class="flex flex-wrap justify-around col-start-1 col-span-1 app-box bg-slate-500">
            <img class="max-h-48" src="./../../../../../assets/images/captain-america.png" alt="Captain America" />
            <h4 class="app-box section-title w-full text-left p-3 mx-5">Superheroes:</h4>
            <ul *ngFor="let superhero of superheroes">
                <li
                    (click)="selectedSuperhero(superhero)"
                    class="p-2 m-4 h-48 w-60 bg-blue-500 hover:bg-blue-700 outline outline-offset-2 outline-blue-500 hover:outline-4 hover:outline-blue-700 cursor-pointer shadow-xl rounded-2xl"
                >
                    <p class="text-white text-center text-2xl font-bold uppercase tracking-widest">{{ superhero.name }}</p>
                    <img class="max-h-24 my-2 mx-auto" src="./../../../../../assets/images/captain-america-shield.png" alt="" />
                    <p class="text-white text-center text-base tracking-widest">{{ superhero.realName }}</p>
                </li>
            </ul>
        </div>
        <!-- CHOOSE A VILLAIN -->
        <div class="flex flex-wrap justify-around col-start-2 col-span-1 app-box bg-slate-500">
            <img class="max-h-48" src="./../../../../../assets/images/thanos.png" alt="Thanos" />
            <h4 class="app-box section-title w-full text-left p-3 mx-5">Villains:</h4>
            <ul *ngFor="let villain of villains">
                <li
                    (click)="selectedVillain(villain)"
                    class="p-2 m-4 h-48 w-60 bg-red-500 hover:bg-red-700 outline outline-offset-2 outline-red-500 hover:outline-4 hover:outline-red-700 cursor-pointer shadow-xl rounded-2xl"
                >
                    <p class="text-white text-center text-2xl font-bold uppercase tracking-widest">{{ villain.name }}</p>
                    <img class="max-h-24 my-2 mx-auto" src="./../../../../../assets/images/infinity-gauntlet.png" alt="" />
                    <p class="text-white text-center text-base tracking-widest">{{ villain.realName }}</p>
                </li>
            </ul>
        </div>
    </section>
</div>
