<div>
    <!-- LIST OF CHARACTERS HEADER -->
    <h2 class="h2">List of Characters!</h2>
    <p>(View, modify, remove or create new Marvel characters here)</p>
    <br />
    <!-- SUPERHERO SECTION -->
    <div class="character-section">
        <div>
            <h3 class="inlineblock">List of Superheroes:</h3>
            <a class="inlineblock basic-button create-button topright-corner" [routerLink]="'/characters/superheroes/create'"
                >Create a Superhero</a
            >
        </div>
        <div class="app-grid app-center">
            <div *ngFor="let superhero of superheroes">
                <app-character-card
                    class="flex-wrap shrink-0"
                    [character]="superhero"
                    [buttons]="getRoute('superheroes', superhero.id)"
                ></app-character-card>
            </div>
        </div>
    </div>
    <br />
    <br />
    <!-- GRID OF VILLAINS -->
    <div class="character-section">
        <div>
            <h3 class="inlineblock">List of Villains:</h3>
            <a class="inlineblock basic-button create-button topright-corner" [routerLink]="'/characters/villains/create'"
                >Create a Villain</a
            >
        </div>
        <div class="app-grid app-center">
            <div *ngFor="let villain of villains">
                <app-character-card [character]="villain" [buttons]="getRoute('villains', villain.id)"></app-character-card>
            </div>
        </div>
    </div>
</div>
