<!-- TITLE -->
<h2>{{ pageTitle }}</h2>
<div class="detail-view border">
    <!-- CHARACTER-COLORED BORDER -->
    <div *ngIf="!isNewCharacter">
        <h3 class="border {{ characterColorMap[character!.color] }}">
            {{ character?.name }}
        </h3>
    </div>
    <!-- NEW CHARACTER BORDER -->
    <div *ngIf="isNewCharacter">
        <h3 class="border border-white">New Character</h3>
    </div>
    <!-- CHARACTER FORM -->
    <div class="detail-subview border">
        <form novalidate (ngSubmit)="saveCharacter()" [formGroup]="characterForm">
            <!-- Value: {{ characterForm.value | json }} -->
            <div class="top-space">
                <label class="form-label" for="characterName">Name:</label>
                <input
                    class="container border-square"
                    formControlName="name"
                    id="characterName"
                    placeholder="Name (required)"
                    type="text"
                />
                <div class="form-error" *ngIf="name!.invalid && name?.touched">
                    {{ displayMessage.characterName.required }}
                </div>
            </div>

            <div class="top-space">
                <label class="form-label" for="characterRealName">Real Name:</label>
                <input
                    class="container border-square"
                    formControlName="realName"
                    id="characterRealName"
                    placeholder="Real Name (required)"
                    type="text"
                />
                <div class="form-error" *ngIf="realName!.invalid && realName?.touched">
                    <span *ngIf="realName?.errors?.['required']">
                        {{ displayMessage.realName.required }}
                    </span>
                    <span *ngIf="realName?.errors?.['maxlength']">
                        {{ displayMessage.realName.maxlength(realName?.errors?.['maxlength']) }}
                    </span>
                    <!-- {{ displayMessage.realName(realName?.errors?.['required']) }} -->
                    <!-- {{ displayMessage.realName | json }} -->
                </div>
            </div>
            <label class="form-label">Power:</label>
            <div formArrayName="powers">
                <div *ngFor="let power of powerForms.controls; let powerIndex = index">
                    <label class="form-label" [attr.for]="powerIndex">#{{ powerIndex + 1 }}</label>
                    <div>
                        <input
                            class="container border-square"
                            [id]="powerIndex"
                            type="text"
                            placeholder="Power"
                            [formControlName]="powerIndex"
                        />
                    </div>
                    <button
                        class="basic-button button-remove-power"
                        color="warn"
                        type="button"
                        (click)="removePower(powerIndex)"
                    >
                        Remove Power
                    </button>
                </div>
            </div>
            <button class="basic-button button-add-power" color="primary" type="button" (click)="addPower()">
                Add Power
            </button>

            <div class="top-space">
                <label class="form-label" for="characterDescription">Description:</label>
                <input
                    class="container border-square"
                    formControlName="description"
                    id="characterDescription"
                    placeholder="Description"
                    type="text"
                />
            </div>

            <div class="top-space">
                <label class="form-label" for="characterLink">Link:</label>
                <input
                    class="container border-square"
                    formControlName="link"
                    id="characterLink"
                    placeholder="Link"
                    type="text"
                />
            </div>

            <fieldset class="container border-square top-space">
                <legend>Color:</legend>
                <label for="red"
                    ><input type="radio" formControlName="color" name="color" value="red" id="red" />Red</label
                ><br />
                <label for="green"
                    ><input type="radio" formControlName="color" name="color" value="green" id="green" />Green</label
                ><br />
                <label for="blue"
                    ><input type="radio" formControlName="color" name="color" value="blue" id="blue" />Blue</label
                ><br />
                <label for="yellow"
                    ><input type="radio" formControlName="color" name="color" value="yellow" id="yellow" />Yellow</label
                ><br />
                <label for="white"
                    ><input type="radio" formControlName="color" name="color" value="white" id="white" />White</label
                ><br />
                <label for="purple"
                    ><input type="radio" formControlName="color" name="color" value="purple" id="purple" />Purple</label
                ><br />
            </fieldset>

            <!-- SUPERHERO/VILLAIN SELECTOR IF NEW -->
            <div *ngIf="isNewCharacter" class="top-space">
                <fieldset class="container border-square">
                    <legend>Superhero or Villain:</legend>
                    <label for="superhero"
                        ><input
                            type="radio"
                            formControlName="heroOrVillain"
                            name="heroOrVillain"
                            value="Superhero"
                            id="superhero"
                        />Superhero</label
                    ><br />
                    <label for="villain"
                        ><input
                            type="radio"
                            formControlName="heroOrVillain"
                            name="heroOrVillain"
                            value="Villain"
                            id="villain"
                        />Villain</label
                    >
                </fieldset>
                <div class="form-error" *ngIf="heroOrVillain?.touched && !heroOrVillainCheck(heroOrVillain?.value)">
                    Must be either a Superhero or Villain
                </div>
            </div>
            <!-- SUBMIT/CANCEL/DELETE BUTTONS -->
            <div class="top-space">
                <div>
                    <button
                        class="{{ this.buttonClass }}"
                        (click)="saveCharacter()"
                        [title]="
                            characterForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'
                        "
                        [disabled]="characterForm.pristine || !characterForm.valid || !characterDetermined"
                    >
                        {{ characterDetermined }}
                    </button>
                    <button
                        class="{{ this.buttonClass }}"
                        type="button"
                        title="Cancel your edits"
                        [routerLink]="['/characters']"
                    >
                        Cancel
                    </button>
                    <button
                        *ngIf="!isNewCharacter"
                        class="{{ this.buttonClass }}"
                        type="button"
                        title="Delete this character"
                        (click)="deleteCharacter()"
                        [routerLink]="['/characters']"
                    >
                        Delete
                    </button>
                </div>
            </div>
            <span class="form-error" *ngIf="character?.id && !characterForm.valid">Form Not Valid</span>
            <span class="form-error" *ngIf="isNewCharacter && !characterForm.valid">Form Not Valid</span>
        </form>
    </div>
</div>
