<!-- NAVIGATION HEADER -->
<div class="bg-slate-700 py-3">
    <h1 class="app-title">
        {{ appTitle }}
    </h1>
    <!-- NAVIGATION BUTTONS -->
    <div class="mt-3 mb-2 flex justify-center space-x-8 sm:space-x-14 md:space-x-28 lg:space-x-36">
        <a class="button-app" routerLink="/home">Home</a>
        <a class="button-app" routerLink="/characters">My list</a>
        <a class="button-app" routerLink="/battle">Battle</a>
        <!-- <li class="basic-button basic-button-white" routerLink="/characters/create">Create a new Marvel character!</li> -->
    </div>
</div>
