@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
abbr,
acronym,
address,
big,
code,
del,
dfn,
img,
ins,
kbd,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  cursor: default;
}

@layer components {
  .button-app {
    @apply rounded-lg shadow-2xl px-5 py-3 border-2 border-white bg-slate-700 hover:bg-slate-500
    text-white uppercase tracking-wider font-semibold text-sm sm:text-base cursor-pointer focus:outline-none focus:ring 
    focus:ring-offset-2 focus:ring-slate-900 active:bg-slate-900;
  }

  .app-title {
    @apply text-5xl text-center text-white font-extrabold mt-2 mb-1;
  }

  .page-title {
    @apply text-4xl text-center text-slate-700 font-extrabold mt-3;
  }
  
  .page-subtitle {
    @apply text-xl text-center text-slate-700 font-extrabold mt-2;
  }
  
  .section-title {
    @apply text-3xl text-center text-slate-700 font-extrabold;
  }
  
  .app-box {
    @apply bg-white border-4 rounded-xl mx-5 border-slate-700 m-8 p-5 shadow-xl;    
  }

  .app-box-slate {
    @apply bg-slate-700 border-4 rounded-xl mx-5 border-slate-500 m-8 p-5 shadow-2xl;    
  }

  .app-grid {
    @apply grid gap-4 mx-12 justify-center py-5;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  }

  .button-sub-app {
    @apply py-2 my-5 mx-2 bg-opacity-40 hover:bg-opacity-70 bg-white shadow-2xl border-2 border-white rounded-xl text-lg text-center font-extrabold cursor-pointer text-slate-700;
  }

  .font-link {
    @apply text-blue-800 underline cursor-pointer;
  }

  .app-border-slate {
    @apply border-4 border-slate-700 rounded-2xl;
  }

  .app-clickable {
    @apply cursor-pointer;
  }

  .detail-information {
    @apply text-black pl-6 font-extrabold text-lg;
  }

  .app-input-container {
    @apply text-slate-700 bg-neutral-100 text-xl border-2 border-slate-700 rounded-none flex ml-2;
  }

  .container {
    @apply text-slate-700 bg-neutral-100 px-2 py-1 text-xl ml-3 flex justify-end border-4 border-slate-700 rounded-none;
}

  .form-error {
    @apply mt-1 text-red-600 text-xl max-w-6xl;
  }

  .button-remove-power {
    @apply bg-red-500 hover:bg-red-800;
  }
  
  .button-add-power {
    @apply bg-blue-500 hover:bg-blue-800;
  }
  
}

.button-character {
  @apply py-2 px-3 m-2 rounded-xl text-black;
}

.button-blue {
    @apply bg-blue-500;
}

.button-green {
  @apply bg-green-500;
}

.button-red {
  @apply bg-red-500;
}

.button-white {
  @apply bg-gray-500;
}

.button-yellow {
  @apply bg-yellow-400;
}

.button-purple {
  @apply bg-purple-500;
}

.button-blue-hover {
  @apply bg-blue-500 hover:bg-blue-700;
}

.button-green-hover {
  @apply bg-green-500 hover:bg-green-700;
}

.button-red-hover {
  @apply bg-red-500 hover:bg-red-700;
}

.button-white-hover {
  @apply bg-gray-500 hover:bg-gray-700;
}

.button-yellow-hover {
  @apply bg-yellow-400 hover:bg-yellow-600;
}

.button-purple-hover {
  @apply bg-purple-500 hover:bg-purple-700;
}
















/* .basic-button {
  @apply py-2 px-6 mx-5 my-2 bg-transparent hover:bg-gray-400 border-2 rounded-xl text-lg font-extrabold text-center cursor-pointer;
} */

/* .create-button {
    @apply bg-slate-700 text-white;
} */

/* .h2-list {
  @apply text-xl font-bold text-center pt-5 text-slate-700;
} */

/* .h3 {
  @apply ml-5 text-4xl font-bold pt-3 text-slate-700;
} */

/* .center {
  @apply block ml-auto mr-auto;
} */

/* .hero-info {
  @apply font-bold text-black;
} */

/* .hero-sub-info-black {
  @apply font-bold text-black text-base;
} */

/* .hero-sub-info-white {
  @apply font-bold text-white text-base;
} */

/* .character-description {
  @apply text-white text-sm;
} */

.detail-view {
  @apply text-white p-6 mx-auto mt-12 max-w-4xl bg-slate-700 shadow-2xl;
}

/* .detail-subview {
  @apply border-4 border-slate-700 rounded-2xl bg-white p-6 mx-auto mt-12 max-w-4xl place-content-center;
} */

/* .p-sub {
  @apply ml-10 text-xl text-black;
} */

/* .create-input-boxes {
    box-shadow: inset 0 1px 0 0 #ffffff;
    background: #ffffff linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    border-radius: 6px;
    margin-top: .5em;
    margin-bottom: .5em;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
    outline: 0;
    @apply m-5;
    @apply cursor-text;
} */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
