@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
  @apply text-6xl;
  @apply text-center;
}

.description {
  @apply text-3xl;
  @apply text-center;
}

.app-background {
  @apply h-auto;
  @apply bg-gradient-to-r from-sky-500 to-indigo-500;
}

.hero-info {
    @apply font-bold;
    @apply text-black;
}

.hero-sub-info-black {
    @apply font-bold;
    @apply text-black;
    @apply text-lg;
}

.hero-sub-info-white {
    @apply font-bold;
    @apply text-white;
    @apply text-base;
}

.white-btn {
    @apply py-2 px-3 m-2;
    @apply bg-white hover:bg-blue-300;
    @apply rounded-md;
    @apply text-2xl;
    @apply text-black;
    @apply text-center;
}

.app-blue-btn {
    @apply py-2 px-3 m-2;
    @apply bg-blue-500 hover:bg-blue-700;
    @apply rounded-md;
    @apply text-black;
}
.app-green-btn {
  @apply py-2 px-3 m-2;
  @apply bg-green-500 hover:bg-green-700;
  @apply rounded-md;
  @apply text-black;
}
.app-red-btn {
  @apply py-2 px-3 m-2;
  @apply bg-red-500 hover:bg-red-700;
  @apply rounded-md;
  @apply text-black;
}
.app-white-btn {
  @apply py-2 px-3 m-2;
  @apply bg-gray-500 hover:bg-gray-700;
  @apply rounded-md;
  @apply text-black;
}
.app-yellow-btn {
  @apply py-2 px-3 m-2;
  @apply bg-yellow-400 hover:bg-yellow-600;
  @apply rounded-md;
  @apply text-black;
}

.createInputBoxes {
    box-shadow: inset 0 1px 0 0 #ffffff;
    background: #ffffff linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    border-radius: 6px;
    margin-top: .5em;
    margin-bottom: .5em;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
    outline: 0;
    @apply m-5;
}
