<div>
    <div class="h3">{{ title }}</div>
    <!-- GRID OF SUPERHEROES -->
    <ul class="app-grid app-center">
        <li *ngFor="let villain of villains">
            <div class="{{ characterColorMap[villain.color] }} char-card">
                <div class="character-name">
                    {{ villain.name }}
                </div>
                <div class="character-realname">
                    {{ villain.realName }}
                </div>
                <!-- DETAILS & EDIT LINKS -->
                <ul class="app-center">
                    <a class="characer-button" [routerLink]="['/villains', villain.id, 'detail']"> Details </a>
                    <a class="characer-button" [routerLink]="['/villains', villain.id, 'edit']"> Edit </a>
                </ul>
            </div>
        </li>
    </ul>
</div>
