<div>
    <h2 class="description">CREATE A NEW SUPERHERO!<br><br>
        Fill in your superhero's information, including a description and even an 
        inspiring backstory!</h2>

    <input class="createInputBoxes" placeholder="Name" required minlength="1" [(ngModel)]="superhero.name"><br>
    <input class="createInputBoxes" placeholder="Real Name" [(ngModel)]="superhero.realName"><br>
    <input class="createInputBoxes" placeholder="Powers" [(ngModel)]="superhero.powers"><br>
    <input class="createInputBoxes" placeholder="Description" [(ngModel)]="superhero.description"><br>
    <input class="createInputBoxes" placeholder="Link" [(ngModel)]="superhero.link"><br>
    <input class="createInputBoxes" placeholder="Color" [(ngModel)]="superhero.color"><br>

    <nav>
        <button class="white-btn" (click)="onCreateClick()">
            Create!
        </button>
        <button class="white-btn" routerLink="/homepage">
            Cancel
        </button>
    </nav>
</div>