<!-- <div *ngIf="condition; else elseBlock">Content to render when condition is true.</div> -->
<!-- <ng-template #elseBlock>Content to render when condition is false.</ng-template> -->

<h2 style="color: white; font-size: 1.2em;">CREATE A NEW SUPERHERO!</h2>
<p style="color: white;  font-size: 1.2em; font-family:
    'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
    Fill in your superhero's information, including a description and even an 
    inspiring backstory!
</p>

<input class="createInputBoxes" placeholder="Name" [(ngModel)]="superhero.name"><br>
<input class="createInputBoxes" placeholder="Real Name" [(ngModel)]="superhero.realName"><br>
<input class="createInputBoxes" placeholder="Powers" [(ngModel)]="superhero.powers"><br>
<input class="createInputBoxes" placeholder="Description" [(ngModel)]="superhero.description"><br>
<input class="createInputBoxes" placeholder="Link" [(ngModel)]="superhero.link"><br>
<input class="createInputBoxes" placeholder="Color" [(ngModel)]="superhero.color"><br>

<nav>
    <button class="tw-blue-btn"(click)="onCreateClick()">
        Create!
    </button>
    <button class="tw-blue-btn" routerLink="/homepage">
        Cancel
    </button>
</nav>
